<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes!</title>
</head>
<body>
<h1>All Cupcakes!</h1>
<ul id="cupcake-list">
    
</ul>
<form id="add-cupcake-form">
    <div>
        <label for="flavor-form">Flavor: </label>
        <input type="text" name="flavor" id="flavor-form">
    </div>
    <div>
        <label for="size-form">Size: </label>
        <input type="text" name="size" id="size-form">
    </div>
    <div>
        <label for="rating-form">Rating: </label>
        <input type="number" name="rating" id="rating-form">
    </div>
    <div>
        <label for="image-form">Image: </label>
        <input type="text" name="image" id="image-form">
    </div>

    <button>Submit</button>
</form>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/cupcakes.js"></script>
</body>
</html>